@use "../colors";
@import "./top/top.scss";
@import "./center/center.scss";
@import "./bottom/bottom.scss";

.taskbar {
  background: none;
}

.taskbar-container {
  background: colors.$background;

  border: 2px solid colors.$active;
  border-radius: 10px;

  padding: 5px 0;
}
